.reviews {
    h2{
        //margin-top: 1em;
    }
}

.pagination{
    span{
        color: #000;
    }
    a{
        color: #000;
    }
}

.post-card {

    &__content{
        padding: 30px 20px;
    }

    h2{
        font-weight: 700;
        color: #000;
        font-size: 24px;
        @media (max-width:992px){
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    p{
        font-weight: 400;
        color: #000;
        @media (max-width:992px){
            font-size: 12px;
        }
    }
    span{
        font-weight: 400;
        color: #000;
        @media (max-width:992px){
            font-size: 12px;
        }
    }
}

.article-head {
    h1{
        color: #000;
    }
    p, a{
        color: #000;
    }
    button{
        color: #000;
    }
}